* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    color: brown;
    font-family: 'Arial Narrow Bold', sans-serif;
}
section {
    width: 100%;
    margin: 0 auto;
    max-width: 70rem;
    max-width: 70rem;
    margin: 0 auto;
}
#box-love-cats {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(12, 1fr);
    padding: 2em;
}
section #box-love-cats {
    background-color: lightcoral;
    text-align: center;
    border-radius: 3em;
}
section #box-love-cats .texto-blc {
    grid-column-end: span 6;
}
section #box-love-cats img {
    width: 200px;
    height: auto;
    grid-column-end: span 6;

}

.segundasec {
    width: 100%;
    margin: 0 auto;
}
h3 {
    text-align: center;
    font-size: large;
    margin: 1rem;
}
.segundasec #box-love-cats {
    background-color: #fff;
    padding: 0;
}
.segundasec #box-love-cats .cats .imagen {
    width: 150px;
    height: auto;
    border-radius: 50%;
}
.segundasec #box-love-cats .cats {
    grid-column-end: span 4;
    background-color: bisque;
    border-radius: 2rem;
    margin: 0;
    padding: 1rem;
}
.segundasec #box-love-cats .texto {
    margin: 0;
    padding: 1.2rem;
}
h4, h5 {
    font-size: 1.3rem;
    margin: 0;
}