.caja-logos-socios {
  background-color: $background-terciario;
  width: 100%;
  padding: 2rem 0;
  @include display-flex(column, none, center);
  h4 {
    font-family: $font-family-principal;
    font-size: 2.8rem;
    color: $background-default;
    text-align: center;
    font-weight: 600;
  }
  .logos-socios {
    flex-wrap: wrap;
    width: 70%;
    text-align: center;
    img {
      width: 15rem;
      margin: 1rem;
      padding: 1rem;
    }
  }
}
