@media (min-width: 577px) and (max-width: 991px) {
    .ul-propia:last-of-type {
        display: none;
    }
    .btn-movil {
        display: none;
    }
        /* carrusel opiniones */
        .bo-contenedor-x3 {
            @include display-grid(repeat(12, 1fr), repeat(2, 1fr) 1.5fr, none, none);
            margin: 3rem auto;
                .bo-perfil {
                    grid-column: 1 / 13;
                    grid-row: 1 / 2;
                    margin: 0 auto;
                    text-align: center;
                }
                .bo-cx3-text {
                    grid-column: 1 / 13;
                    grid-row: 2 / 3;
                    width: 100%;
                }
                .bo-cx3-img-txt {
                    display: none;
                    grid-column: 2 / 3;
                    grid-row: 3 / 4;
                }
                
            }
            aside {
                display: none;
            }
}