#form-box{
    width: 80%;
    height: auto;
    border-bottom: solid 0.1rem #616161;
    @include display-flex(row, center, none);
    flex-wrap: wrap;
        form {
            padding: 2rem;

            h2{
                font-family: $font-family-principal;
                color: $background-principal;
                font-size: 2.4rem;
                margin: 0.5rem 0;
                text-align: center;
            }
            h3 {
                @extend h2;
                color: $background-default;
                text-align: center;
                margin: 1.5rem 0;
                font-size: 1.8rem;
            }
            input:not(:last-of-type){
                margin: 1rem 0.5rem;
                padding-left: 0.7rem; 
                width: 25rem;
                height: 3.5rem;
                border: none;
                font-family: $font-family-secundario;
                font-size: 1.2rem;
            }
            #email {
                width: 25rem;
            }
            #submit {
                width: 15rem;
                height: 3.5rem;
                background-color: $background-principal;
                font-weight: 600;
                text-align: center;
                margin: 1rem 0.5rem;
                padding: 0;
                border: none;
                font-family: $font-family-secundario;
                font-size: 1.2rem;
                text-transform: uppercase;
            }
            #submit:hover {
                transform: scale(1.03, 1.03);
                transition: all 1s;
            }
        }
}